* {
    font-family: sans-serif;
}

.nav-menu {
    width: 100%;
    background-color: #013334;
    display: flex;
    align-items: center;
}

.nav-logo {
    width: 20%;
    padding: 10px;
    display: flex;
    justify-content: flex-end;
}

.nav-logo>img {
    width: 20%;
}


.nav-items {
    width: 80%;
}

.nav-items>nav>ul>li>a {
    text-decoration: none;
    color: #ffffff;
    padding: 0px 20px 0px 20px;
    font-size: 1.3rem;
}

.team {
    background-color: #ffffff;
}

.nav-link:hover {
    color: #6699ce;
    background-color: #ffffff;
    padding: 10px;
}

.nav-items>nav>ul>li {
    display: inline;
    justify-content: end;
}

.nav-items>nav {
    display: flex;
    justify-content: space-around;
}

.banner {
    padding-bottom: 0px;
    background-color: #013334;
}


.banner img {
    /* margin-left: -10px; */
    margin-bottom: -104px;
    margin-top: 0px;
    height: 70vh;
}

.brand-image {
    width: 80%;
    border-radius: 50%;
}

.brand-text>h1 {
    /* display: flex; */
    justify-content: space-around;
    text-align: left;
    font-size: 5rem;
}

.brand-text>p {
    justify-content: space-around;
    text-align: left;
    font-size: 2rem;
    margin-top: -30px;
    font-weight: lighter;
}

.team-members {
    text-align: center;
}

.team-members img {
    border-radius: 50%;
    height: 30vh;
}

.team-image {
    height: 40vh;
}

.team-text {
    text-align: center;
    margin-bottom: 30px;
    color: #013334;
    font-size: 1.3rem;
}

.services-section h3 {
    font-size: 40px;
    text-align: center;
    color: #013334;
}

.about-us {
    background-color: #013334;
    font-size: 30px;
}

.services {
    text-align: center;
    background-color: #013334;
}

footer {
    margin-top: -30px;
    text-align: center;
    background-color: #022020;
    font-size: 20px;
}

footer img {
    width: 70px;
    margin-bottom: 30px;
}

footer span {
    margin-left: 550px;
    text-align: center;
}